<template>
  <q-page class="flex flex-center">
    <q-btn label="test" @click="atTest" />
    <q-btn label="login" @click="atLogin" />
    <q-btn label="logout" @click="atLogout" />
    <q-btn label="refresh token" @click="atRefreshToken" />
    <q-btn label="verify login" @click="atVerifyLogin" />
    <div>
      loggedIn: {{ authStore.loggedIn }}
    </div>
  </q-page>
</template>

<script setup>
// import { ref } from 'vue'
import { api } from 'boot/axios'
import { useAuthStore } from 'src/stores/auth.store'
const authStore = useAuthStore()

// const bearerToken = ref('')

async function atTest () {
  const result = await api.get('/auth/test')
  console.log('atTest:\n', result)
}

async function atLogin () {
  authStore.login()
}

async function atLogout () {
  authStore.logout()
}

async function atVerifyLogin () {
  authStore.verifyLogin()
}

async function atRefreshToken () {
  authStore.refreshToken()
}
</script>
