<template>
  <router-view />
</template>

<script setup>
// import { defineComponent } from 'vue'
import {  onMounted } from 'vue'
import { useAuthStore } from 'src/stores/auth.store'
const authStore = useAuthStore()

onMounted( () => {
  authStore.refreshToken()
})
</script>
